    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.image {
    width: 100%;
    margin-top: 100px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 50%;
    border: 10px solid white;
}

section {
    background-image: url('desk4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    min-height: 90vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    .topnav {
        display: flex;
        justify-content: center;
        background-color: #219ebc;
        height: 10vh;
    }
    .topnav a {
        color: #f2f2f2;
        padding: 0.5rem 1rem;
        font-size: 4rem;
        font-family: 'Archivo Black', sans-serif;
        text-decoration: none;
    }
    .topnav a:hover {
        background-color: #ddd;
        color: blue;
        text-align: center;
    }
    .topnav a.active {
        background-color: #04AA6D;
        color: white;
        text-align: center;
    }
    @media (max-width: 768px) {
        .image {
            margin-top: 1rem;
        }
        img {
            border-width: 5px;
        }
        .topnav a {
            padding: 0.3rem 0.7rem;
            font-size: 2.8rem;
        }
    }